/* a {
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
  color: #edf7ff;
}
a:hover {
  color: #ffba82;
}
h1 {
  font-size: 9rem;
}
h2 {
  font-size: 3rem;
  font-weight: normal;
}
img.portrait {
  border-radius: 50%;
  border: 10px solid #edf7ff;
  margin: 2em 3em;
  max-width: 33%;
}

.center-me {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
} */
